

* {
  line-height: 1.5 !important;
  letter-spacing: 0.12em !important;
  word-spacing: 0.16em !important;
  font-family: "Zilla Slab", "Zilla Slab Placeholder", serif; 
}


h1 {  
  height: auto; 
  font-weight: 600;
  font-style: normal;  
}

h2 {  
  height: auto;  
  overflow: visible;
  font-weight: 600;
  font-style: normal;  
}
h3{
  font-weight: 600;
}

p {  
  height: auto;
  text-wrap: pretty; 
  overflow: visible;  
  font-style: normal;  
  margin-bottom: 2em !important;
}

article{
  padding: 4rem;
}
article>div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

article button {
  width: 100%;
  background-color: #10451D;
  padding: 1rem;
}
article p{
  font-size: 1.5rem;
}
img{  
  height: auto;
  aspect-ratio: 4/3;
}

.article-content-reversed{  
  flex-direction: row-reverse;
}

.article-text{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 0.5rem;
}
.article-text h2{
  color: #10451D;
}
.article-content img, .article-content-reversed img{
  max-width: 50%
}
.we-plant {
  height: 100vh;  
  padding: 1rem;
  background-image: url('/src/assets/home.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.we-plant h1 {
  color: #f0f0f0;
  margin: 0;
  padding: 2rem;  
  border-radius: 5px;
}

.we-plant p {
  color: #f0f0f0;
  margin: 0;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 5px;
}
.we-plant-info-container{
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}
.we-plant-buttons-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.we-plant-buttons-container button{
  border-radius: 50px;
  padding: 1rem 3rem;
}
.ready-to-container{
  background-color: #10451D;
  padding: 55px;
}


.thumbs-container{
  background-color: #10451D;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thumb-box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  width: 80%;
  justify-content: center;
  padding: 35px 0px;
}
.thumb-box{
  width: 150px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.thumb-box img {
  width: 100px;
  height: 100px;  
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto 10px;
  filter: grayscale(100%);
}
.thumb-name{
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #333333;
}
.thumb-rank {
  margin: 0;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
}
.faqs-article {
  background-color: #10451D;
  align-items: center;
  display: flex;
  flex-direction: column
}
.faqs-article h3 {
  letter-spacing: 0em;
  line-height: 1.2;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.faqs-container {
  display: flex;
  gap: 15px;
  width: 80%;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 25px 0px
}
.faq h4{
  font-weight: bold;
  margin: 10px 0px;
}
.faq p{
  color: white;
  font-size: 16px;
}
/* ----------FOOTER STYLES---------- */
footer{
  padding: 15px;
  background-color: #f0f0f0;
  border-top: 1px solid #10451D;
}

footer a:hover{
  text-decoration: none;
  background-color: #10451D;
  color: #f0f0f0;
}
.footer-container{
  display: flex;
  justify-content: center;
}
.footer-link{
  text-decoration: none;
  padding: 0 1rem;
  color: #10451D;  
}

.cards-container{
  display: grid;
  grid-template-columns: 
    repeat(
      auto-fit,
      minmax(280px, 1fr)
    );
  gap: 32px;  
}
.card-container{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #cbd5e0;
  background-color: #f7fafc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 320px;
  align-items: center;
}
.card .climat {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(to right, #000, #4a5568);
  padding: 0.5rem 1rem;
  border-bottom: 0.5rem;
  color: #fff;
  font-size: 0.875rem;
}
.card-img-box img{  
  height: 265px;
  width: 100%;
  min-height: 200px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 5px;
  margin: 0 auto;
}
.card .content {
  padding: 1rem;
}

.card .title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 0.5rem;
}
.card .price {
  background-image: linear-gradient(to right, #000, #4a5568);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.card .details-button {
  margin-top: 1rem;
    width: 100%;
    
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.card button{
  width: 100%;
  margin: 0 auto;
  background-color: #10451D;
}

/*  **********LOADER STYLES**********  */
.loader-container p {
  text-align: center;
}
.loader-container{
  min-height: 500px;
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loader {
  display: flex;
  justify-content: center;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #10451D;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 2s infinite linear;
}
.nav-bar-links-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;        
}
.nav-bar-links-container ul {
  display: flex;
    width: 100%;
    justify-content: space-between;
}
@keyframes l3 {to{transform: rotate(1turn)}}

/*  ---------- FILTER STYLES ----------   */
.filter-container {
  display: flex;
  align-items: center;
}

.filter-label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-select {
  max-width: 200px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin: 0 1px;
}

.filter-select:hover,
.filter-select:focus {
  border-color: #10451D;
  outline: none;
}

.filter-select option {
  font-size: 14px;
}
.clean-filters-btn{
  margin: 1rem;
}
 /*  ********** PRODUCT DETAIL ********** */
 .details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.details-container h1 {
font-size: 2.5rem;
color: #10451D;

}
.go-back-btn{
  margin: 2rem;
}
.main-wrapper{
  min-height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
.product-div{
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f0f0f0;
  border-radius: 3px;
  column-gap: 10px;
}
.product-div-left{
  padding: 20px;
}
.product-div-right{
  padding: 20px;
}
.img-container{
  display: flex;
}
.img-container img{
  width: auto;
  margin: 0 auto;
}

.product-div-right span{
  display: block;
}
.product-name{
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
}
.product-price{
  font-weight: 700;
  font-size: 24px;
  opacity: 0.9;
  font-weight: 500;
}
.product-rating{
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.product-rating span{
  margin-right: 6px;
}
.product-description{
  font-weight: 18px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 22px;
}
.btn-groups{
  margin-top: 22px;
}
.subtract-buttons{
  display: flex;
  gap: 1rem;
}
.ready-to-container h2{
  color: #f0f0f0;
}
.ready-to-btn-group{
  margin: 40px 0px;
  display: flex;
  gap: 1rem;
}
.add-cart-btn{
  background-color: #10451D;
  border: 2px solid #10451D;
  margin-right: 8px; 
}
.add-cart-btn:hover{
  background-color: #fff;
  color: #10451D;
}
.ready-to-btn-group button{
  background-color: #000;
  border: 2px solid #000;
}
.ready-to-btn-group button:hover{
  background-color: #fff;
  color: #000;
}
.btn-quantity-group{
  margin: 30px 0px;
  display: flex;
  align-items: center;  
  gap: 10px;
}
   /* ----------CART STYLES---------- */
.cart-container{
  min-height: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}.cart-container-empty{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-container-empty-text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cart-container-empty-text h1{
  color: #10451D;
  font-size: 32px;
}
.cart-container-empty-text p {
  color: #10451D;
  font-weight: bold;
}
.cart-title h1{
  font-size: 3rem;
  color: #10451D;
}
.cart-item{
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.cart-item-image-link{
  text-decoration: none;
}
.cart-item-image{
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 15px;
}
.cart-item-details {
  flex: 1;
}

.cart-item-name p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.cart-item-quantity {
  display: flex;
  align-items: center;
}
.cart-item-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
  color: #666;
  transition: color 0.3s ease;
}
.cart-item-button:hover {
  color: #333;
}
.cart-item-total p {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  
}
.cart-icon-container {
  position: relative;
  display: inline-block;
}
.cart-icon {
  vertical-align: middle;
  height: 1.5rem;
  width: 1.5rem;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
/* ------------------------CARE GUIDES STYLES------------------------  */
.care-guides-container{
  display: grid;
  grid-template-columns: 
    repeat(
      auto-fit,
      minmax(280px, 1fr)
    );
  gap: 32px;
}
.care-guides{
  display: flex;
  justify-content: center;    
  padding: 32px 0;
  border-bottom: 1px solid rgba(34, 66, 41, .16);
  align-items: center;
  border-top: 1px solid rgba(34, 66, 41, .16);
  margin: 32px;
}
.plant-care-guides-item{
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid rgba(34, 66, 41, .16);
}
.plant-care-guides-item a{
  text-decoration: none;
}
.plant-care-guides-item-name{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.plant-care-guides-item-image img {
  margin-bottom: 1.5rem;
}
 /* ------------------------CHECKOUT STYLES------------------------  */
 form {
  max-width: 600px;  
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
form h2 {
  margin-top: 20px;
}
form div {
  margin-bottom: 10px;
}
form label {
  display: block;
  font-weight: bold;
}
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
button[type="submit"] {
  background-color: #10451D;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #f0f0f0;
  border: 1px solid #10451D;
}
.checkout-wraper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-wraper h1{
  color: #10451D; 
}
.checkout-container{
  display: flex;
  margin: 2rem;
  gap: 3rem;  
  justify-content: center;
  width: 90%;
}

.cart-checkout-buttons{
  display: flex;
  justify-content: space-between;
}
.cart-checkout-total{
  font-weight: 700;
  
}
.form-container{
  width: 60%;
}

.checkout-sidebar-container{
  width: 30%;
}
.checkout-sidebar-footer-item {
  display: flex;
}
.checkout-sidebar-footer-item svg{
  width: 25px;
  height: auto;
  margin-right: 1rem;
  color: #10451D;
}
.checkout-link{
  width: fit-content;
}
.checkout-item-container{
  padding: 0.5rem;  
  border-bottom: 1px solid #10451D;
  display: flex;
  align-items: center;
  gap: 2rem;
  
}
.checkout-item-desc p {
  font-weight: 700;
}
.checout-sidebar-content p{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.checkout-item-image > img{
  max-width: 90px;
  max-height: 100px;
  border-radius: 7%;
}
.input-fields-container li{
  list-style: none;
}

input.form-input-error{
  border: 2px solid red;
  margin-bottom: 5px;
}
.form-error-msg{
  color: red;
  font-weight: 600;
}
 /* ----------PAGINATION STYLES---------- */
.pagination{
  display: flex;
  justify-content: center;
  margin: 30px auto;
  gap: 8px;
}
.pagination a {
  display: flex;
  align-items: center;
  color: black;
  border: 1px solid #000;
  border-radius: 8px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.pagination a.pagination-link-active {
  background-color: #10451D;
  color: white;
}

   /* ----------TOPNAV STYLES---------- */
.topnav {
  padding: 2rem 1rem;
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #10451D;
  margin-bottom: 2rem;
}
.topnav a {
  float: left;
  display: block;
  color: #10451D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #8a8a8a;
  color: #f0f0f0;
}
.topnav a.active {
  background-color: #10451D;;
  color: #f0f0f0;
  text-decoration: none;
}
.topnav .icon {
  display: none;
}
 /* ----------ERROR STYLES---------- */
 .error-container{
  display: flex;
  align-items: center;
  justify-content: center;  
 }
 .error-info-container{
  display: flex;
  gap: 8px;
  flex-direction: column;
 }
 .error-img-container img{
  max-height: 25rem;
 }

 /* ----------CONFIRMATION STYLES----------  */
 .confirmation-page {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.confirmation-header {
  text-align: center;
  margin-bottom: 20px;
}

.confirmation-header h1 {
  color: #10451D;
}

.order-summary, .payment-info, .additional-actions, .shipping-info {
  
  
  padding: 20px;
  margin-bottom: 20px;
}

.order-summary h2, .payment-info h2, .shipping-info h3 {
  color: #10451D;
}

.confirmation-footer {
  text-align: center;
  margin-top: 20px;
}

.confirmation-footer a {
  color: #10451D;
}
.confirmation-page{
  background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    color: #333; 
}
.confirmation-page h1 {
  color: #10451D;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}
.confirmation-page h2 {
  text-align: center;
  color: #10451D;
  font-size: 22px;
  margin-bottom: 10px;
}
.confirmation-items-details ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.confirmation-items-details ul li {
  font-size: 16px;
  margin-bottom: 8px;
}

.confirmation-items-details ul li::before {
  content: '•';
  color: #10451D;
  margin-right: 8px;
  font-size: 20px;
}
.shipping-info,
.order-details {
    margin-top: 20px;
    padding: 10px 0;
    
}

.shipping-info p,
.order-details p {
    font-size: 16px;
    margin: 5px 0;
}

.order-details p strong {
    color: #10451D;
}

.add-instructions-btn {
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

textarea {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
}

textarea:focus {
  outline: none;
  border-color: #10451D;
  box-shadow: 0 0 5px rgba(16, 69, 29, 0.3);
}

.additional-actions {
  margin-top: 10px;
}

.confirmation-page>*{
  border-bottom: 1px solid #10451D;
  padding: 2rem;
  margin: 2rem 1rem;
}


/* ----------SM SCREENS STYLES---------- */
@media screen and (max-width: 768px){
  footer a:first-child {
    order: 99;
  }
  .we-plant h1 {
    font-size: 2rem;
    padding: 0rem;
  }
  
  .we-plant p {
    font-size: x-large;
    padding: 0rem;
  }
  .we-plant-buttons-container {
    flex-direction: column;
    gap: 2rem;
  }
  .product-div{
    grid-template-columns: 100%;
  }
  .product-div-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }
  .product-rating{
    justify-content: center;
  }
  .product-description{
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .cart-item{
    flex-direction: column;
  }
  .cart-badge {
    top: -6px;
    right: -6px;
    width: 16px;
    height: 16px;
    font-size: 10px;
}
  .cart-container-empty{
    flex-direction: column;
  }
  .cart-container-empty-text{
    align-items: center;
  }
  .checkout-container{
    align-items: center;
    flex-direction: column-reverse;
  }
  .checkout-sidebar-footer-item svg{
    display: none;    
  }
  .checkout-buttons{
    gap: 1rem;
    align-items: center;
    flex-direction: column;

  }
  .checkout-item-image{
    display: none;
  }
  .filter-container{
    flex-direction: column;
  }
  .topnav {
    display: block;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .article-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.5rem;
  }
  .article-content-reversed{
    flex-direction: column;
  }
  .article-content img, .article-content-reversed img {
    max-width: 100%;
  }
  .btn-quantity-group{
    justify-content: center;
  }
  .thumb-box-container{
    flex-direction: column;
  }
  .ready-to-btn-group{
    display: block;
  }
 
  .ready-to-btn-group button {
    width: 100%;
    margin-bottom: 10px;
  }  
  .ready-to-text {
    max-width: 80%;
    display: flex;
    margin: 2% auto;
  }
  .faqs-container {
    flex-direction: column;
  }
  .faq h4 {
    text-align: center;
  }
  .footer-link{
    border-left: 0px;
  }
  .footer-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    min-height: 80px;
  }
  
  form {
    padding: 1rem;
  }

  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="email"],
  select {
    padding: 0.5rem;
  }

  button[type="submit"] {
    padding: 0.5rem 1rem;
  }
  .error-container{
    flex-direction: column;
  }
  .error-info-container{
    padding: 1rem;
  }
  .subtract-buttons{    
    flex-direction: column;    
  }
  .go-to-cart-btn{
    width: 100%;
  }
  
}


@media screen and (max-width: 400px){
  .btn-groups button{
      width: 100%;
      margin-bottom: 10px;
  }
  .cart-badge {
        top: -4px;
        right: -4px;
        width: 12px;
        height: 12px;
        font-size: 8px;
  }
  .pagination a {
    border: none;
    padding: 0;
    
  }
  .pagination a.pagination-link-active {
    background-color: unset;
    color: #000;
    text-decoration: underline;
    font-weight: 600;
    padding: 0.5rem;
  }
  .checkout-item-container{
    flex-direction: column;
    align-items: center;
  }
}